.button {
  display: block;
  width: 100%;
  padding: 15px 0px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 21px;
  background: $blue;
  cursor: pointer;
  border: none;
}
