.form-section {
  min-height: 280px;
  width: 100%;

  outline: 1px solid #009900;
}

@media (min-width: $tablet-width) {
  .form-section:nth-of-type(3)   {
    order: -1;
  }

  .form-section:nth-of-type(1),
  .form-section:nth-of-type(3)   {
    width: 50%;
  }
}
