@mixin container {
  width: 100%;
  min-width: $mobile-width;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

@mixin no-mp {
  margin: 0;
  padding: 0;
}
