.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__hashtag {
  width: 100%;
  padding: 35px 0;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

}

.page-footer__social {
  width: 100%;
}

.page-footer__dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 37px;
}
.page-footer__text {
  text-transform: uppercase;
  font-style: normal;
  font-size:15px;
}
.page-footer__academy {
  display: block;
  height: 40px;
  width: 40px;
}

.page-footer__academy-svg {
  fill: black;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $logo-down;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    height: 110px;
    align-items: center;
    justify-content: space-between;
    padding: 0 $main-padding-tablet;
  }
  .page-footer__hashtag {
    width: 33.33%;
    @include no-mp;
  }
  .page-footer__social {
    width: 33.33%;
    @include no-mp;
  }
  .page-footer__dev {
    width: 33.33%;
    @include no-mp;
  }
  .page-footer__dev {
  justify-content: flex-end;
  }
  .page-footer__hashtag {
  text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    height: 120px;
    }
  .page-footer__dev {

    display: flex;
    justify-content: flex-end;

}
}
