.post {
  width: 100%;
  min-height: 405px;

  text-align: center;

  outline: 1px solid #009900;
}

@media (min-width: $tablet-width) {
  .post {
    width: 50%;
  }
  .post:first-of-type {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .post {
    width: 33.3%;
  }
}

