.review-form {
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid #009900;
}

.review-form__button-wrap {
  display: flex;
}

.review-form__required {
  display: none;
}

@media (min-width: $tablet-width) {
  .review-form__required {
    display: block;
    margin-left: auto;
  }
}
