/*

Обязательно использовать переменные в sass для:
1. Цвета.
2. Одинаковые горизонтальные отступы.
3. Одинаковые border-radius.
4. Разрешения экранов для media-queries.

*/

$mobile-widths-only: 767px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$header-height-mobile: 55px;
$header-height-tablet: 55px;

$main-padding-mobile: 30px;
$main-padding-tablet: 60px;
$form-mobile-padding: 20px;

$blue: #81b3d2;
$border-menu-dark: #678fa8;
$border-menu-light: #9ac2db;

$grey-bg: #eeeeee;
$input-bg: #f2f2f2;
$grey-border: #d6d6d6;
$form-border: #e5e5e5;
$form-contact-bg: #e6e6e6;
$form-dot: #333333;

$main-menu-hvr: #81b3d2;
$main-menu-dow: #b2b2b2;
$main-menu-active: #766357;
$main-menu-active-hvr: #b2b2b2;
$main-menu-active-down: #d6d0cc;

$btn-hvr: #d6d0cc;
$btn-down: #5496bd;
$btn-down-text: #88b6d1;
$btn-down-disabled: #e5e5e5;

$logo-down: #b2b2b2;




