.advantages {
  min-height: 395px;

  outline: 1px solid #009900;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  min-height: 135px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advantages {
    min-height: 320px;
}
  .advantages__item {
    width: 33.33%;
  }
}
