.advantages__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 20px;
  margin-top: 25px;
  text-align: left;

  &:not(:first-of-type) {
  margin-top: 20px;
  }
}

.advantages__info {
  display: block;
  flex-grow: 1;
  width: 60%;
  @include no-mp;
  margin-left: 10px;
}

.advantages__img-wrap {
  width: 40px;
  height: 40px;
}

.advantages__img {
  display: block;
  width: 100%;
  height: auto;
  fill: $blue;
}

.advantages__title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
}

.advantages__description {
  @include no-mp;
  text-transform: uppercase;
  padding-top: 8px;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: $tablet-width) {

  .advantages {
    min-height: 320px;
}

  .advantages__item {
    flex-direction: column;
    width: 23%;
    padding: 0 5%;
    margin-top: 55px;
    text-align: center;
  }

  .advantages__item:not(:first-of-type) {
    margin-top: 55px;
  }

  .advantages__item:nth-of-type(2) {
    order: 1;
  }

  .advantages__list {
    justify-content: space-around;
    padding-bottom: 53px;
  }

  .advantages__info {
    width: 100%;
    margin-left: 0;
    margin-top: 18px;
  }

  .advantages__img-wrap {
    width: 77px;
    height: 77px;
    margin: auto;
  }

  .advantages__img {
    width: 100%;
    height: 100%;
  }

  .advantages__title {
    font-size: 20px;
  }

  .advantages__description {
    margin-top: 13px;
  }

}

@media (min-width: $desktop-width) {

  .advantages__description {
    margin-top: 5px;
  }

  .advantages__list {
    padding-bottom: 83px;
  }

}
