.hotel-search {
  padding: 30px 20px 50px 20px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 19px;
}

.hotel-search__description {
  font-size: 14px;
  line-height: 24px;
  padding-top: 22px;
}

.hotel-search__link {
  margin-top: 35px;
}

@media (min-width: $tablet-width) {

  .hotel-search {
    padding: 60px 20% 60px 20%;
  }

  .hotel-search__title {
    font-weight: bold;
    font-size: 30px;
  }

  .hotel-search__description {
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hotel-search__link {
    margin-top: 43px;
  }

}

@media (min-width: $desktop-width) {

  .hotel-search {
    padding: 55px 31% 67px 31%;
  }

  .hotel-search__link {
    margin-top: 47px;
  }

  .hotel-search__title {
    line-height: 25px;
  }

  .hotel-search__description {
    padding-top: 32px;
  }

}
