.main-menu {
  min-height: 222px;

  outline: 1px solid #009900;
}

.main-menu__item {
  width: 100%;
  min-height: 55px;

  text-align: center;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .main-menu {
    min-height: 55px;
  }
  .main-menu__item {
    width: 20%;
  }
  .main-menu__item:nth-of-type(3) {
    margin-left: auto;
  }
}


