.main-banner {
  height: 390px;

  text-align: center;

  background: url("../img/main-banner.png") 50% 50% no-repeat;
  background-size: cover;

}


@media (min-width: $tablet-width) {
  .main-banner {
    height: 520px;
  }
}


