.main-banner {
  min-height: 289px;
  margin-top: -27px;
  padding-top: 100px;

  text-align: center;

  outline: 1px solid #009900;
}


@media (min-width: $tablet-width) {
  .main-banner {
    min-height: 445px;
  }
}


