.page-info {
  padding: 0 $main-padding-mobile;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}



.page-info--photo .page-info__description {
    padding-top: 12px;
}

.page-info__title {
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
}

.page-info__description {
  padding-top: 17px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
}

.page-info--inner {
  padding: 0 20px;
  margin-top: 36px;
  margin-bottom: 18px;
}

.page-info--photo {
  padding: 0 $form-mobile-padding;
  margin-bottom: 29px;
}

.page-info--inner .page-info__description {
  padding-top: 15px;
}

@media (min-width: $tablet-width) {

  .page-info {
    padding: 0 9%;
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .page-info__title {
    font-size: 22px;
    line-height: 26px;
    margin: 0;

  }

  .page-info__description {
    padding-top: 30px;
  }

  .page-info--inner {
    padding: 0 18%;
    margin-top: 75px;
  }

  .page-info--inner .page-info__title {
    font-size: 30px;
  }

  .page-info--inner .page-info__description {
    padding-top: 10px;
  }

  .page-info--photo .page-info__description {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .reason--angle {
    padding-top: 32px;
  }

}

@media (min-width: $desktop-width) {

  .page-info {
    padding: 0 24%;
  }

  .page-info--inner {
    padding: 0 18%;
    margin-top: 114px;
  }

  .page-info {
    margin-bottom: 37px;
  }

  .page-info--photo {
    padding-left: 29%;
    padding-right: 29%;
  }

}
