.page-header {
  position: relative;

  outline: 1px solid #009900;
}

.page-header__logo {
  @include container;

  min-height: 85px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 335px;

    width: 100px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: 507px;

    width: 185px;
    height: 97px;
    }
}

