.page-footer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.page-footer__hashtag {
  width: 100%;
  padding: 35px 0;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}

.page-footer__social {
  width: 100%;
}

.page-footer__dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 36px;
  overflow: hidden;
}

.page-footer__text {
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  padding-right: 6px;
}

.page-footer__academy {
  display: block;
  height: 40px;
  width: 34px;
}

.page-footer__academy-svg {
  fill: black;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $logo-down;
  }

}

@media (min-width: $tablet-width) {

  .page-footer {
    height: 115px;
    align-items: center;
    justify-content: space-between;
    padding: 0 $main-padding-tablet;
    margin-bottom: 0;
  }

  .page-footer--photo {
    height: 110px;
  }

  .page-footer__hashtag {
    width: 33.33%;
    @include no-mp;
  }

  .page-footer__social {
    width: 33.33%;
    @include no-mp;
  }

  .page-footer__dev {
    width: 33.33%;
    @include no-mp;
  }

  .page-footer__dev {
    justify-content: flex-end;
  }

  .page-footer__hashtag {
    text-align: left;
  }

  .page-footer--form {
    height: 112px;
  }

}

@media (min-width: $desktop-width) {

  .page-footer {
    height: 115px;
    padding: 0 3.5%;
  }

  .page-footer__dev {
    display: flex;
    justify-content: flex-end;
  }

  .page-footer__hashtag {
    padding-left: 92px;
    box-sizing: border-box;
  }

  .page-info--inner .page-footer--photo {
  height: 122px;
  }



}
