.page-footer {
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid #009900;
}

.page-footer__hashtag {
  width: 100%;
  min-height: 72px;
}

.page-footer__social {
  width: 100%;
}

.page-footer__dev {
  width: 100%;
  min-height: 60px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 100px;
  }
  .page-footer__hashtag {
    width: 33.33%;
  }
  .page-footer__social {
    width: 33.33%;
  }
  .page-footer__dev {
    width: 33.33%;
  }
}
