.reasons__list {
  display: flex;
  flex-wrap: wrap;
}

.reasons__item {
  width: 100%;
}

.reasons__item--small {
  background: $grey-bg;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {

  .reasons__list {
    min-height: 1100px;
  }

  .reasons__item--small {
    width: 33.3%;
    padding: 0;
  }

}


