.reason {
  min-height: 206px;

  text-align: center;

  outline: 1px solid #009900;
}

.reason--small {
  min-height: 150px;
}

@media (min-width: $tablet-width) {
  .reason--small {
    min-height: 250px;
  }

  .reason--with-photo {
    flex: 0 0 auto;
    width: 350px;
  }
}


