.social {
  display: flex;
  justify-content: center;
  font-size: 0;
}

.social__link  {
  position: relative;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background: $blue;
  cursor: pointer;
  display:flex;

  &:hover {
    background: $btn-hvr;
  }

  &:active {
    background: $btn-down;
  }

  &:active .social__icon {
    fill: $btn-down-text;
  }

}

.social__link--youtube {
  margin-right: 0;
}

.social__icon {
  display: block;
  margin: auto;
  fill: white;
}


