.social {
  display: flex;
  justify-content: center;
}

.social__link  {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 7px;

  background: $blue;

  cursor: pointer;
}

.social__link::before {
  content: '';
  position: absolute;
  width: 46px;
  height: 48px;

}

.social__link--tweet::before {
  background: url("../img/icon-twitter.svg") 50% no-repeat;
}

.social__link--facebook::before {
  background: url("../img/icon-facebook.svg") 50% no-repeat;
}

.social__link--youtube::before {
  background: url("../img/icon-youtube.svg") 50% no-repeat;
}


